## Lambda function in Python

Small anonymous function in python

### given a number return its square

In [1]:
x = lambda a : a**2

In [2]:
x(5)

25

In [3]:
y = lambda a,b : a**b

In [4]:
y(2,3)

8

## List comprehension

In [5]:
L = [2, 3, 4, 1, 5]

### Add 5 to all the elements in the list

In [6]:
result = []

for x in L:
    result.append(x+5)
    
result

[7, 8, 9, 6, 10]

In [7]:
[x+5 for x in L]

[7, 8, 9, 6, 10]

List comprehension has three part

```python
[<operations> <looping> <conditionals with if> (optional)] 

[<operations>  <conditionals with if and else> <looping> (optional)]
```

In [10]:
L = list(range(100))  # list of all numbers from 0 to 99

In [11]:
odd_numbers = []

for x in L:
    if x % 2 != 0:
        odd_numbers.append(x)
        
odd_numbers

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [13]:
[x for x in L if x%2 != 0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

### Given a list of numbers return another boolean valued list where it will be True if the number is even, False if the number is odd (using list comprehension)

```
input_list = [3, 1, 9, 4, 5, 6]
output_list = [False, False, False, True, False, True]
```

In [15]:
out_list = []
input_list = [3, 1, 9, 4, 5, 6]

for x in input_list:
    if x%2 == 0:
        out_list.append(True)
    else:
        out_list.append(False)
        
out_list

[False, False, False, True, False, True]

In [16]:
[True if x%2 == 0 else False for x in input_list]

[False, False, False, True, False, True]

## map() function in python

function:

```python
def my_function(value):
    <some codes>
    return output

my_list = [v1, v2, v3, ...., vn]

x = map(my_function, my_list) # return a map object

x = list(map(my_function, my_list)) # another list with the function applied on each values of my_list
```

In [17]:
def func(v):
    return v+3

In [18]:
func(4)

7

In [19]:
func(-3)

0

In [20]:
L = [2, -4, 0, 1, 6]

In [21]:
x = map(func, L)

In [23]:
list(x)

[5, -1, 3, 4, 9]

### Suppose you are given a list of strings. You want to return the length of each string.

```
L = ['abc','xyzjk','tuvdws']

output = [3, 5, 6]
```

In [24]:
my_list = ['abc','xyzjk','tuvdws']

list(map(len, my_list))

[3, 5, 6]