## String manipulation

In [1]:
str1 = "Sachin Tendulkar"

In [2]:
str1[0]

'S'

In [3]:
str1[2]

'c'

In [4]:
str1[6]

' '

In [5]:
len(str1)

16

In [6]:
for i in range(len(str1)):
    print(str1[i])

S
a
c
h
i
n

T
e
n
d
u
l
k
a
r

In [7]:
str1[4:10]

'in Ten'

In [8]:
str1[5:]

'n Tendulkar'

In [9]:
str1[:10]

'Sachin Ten'

### Converts a string to a list

In [10]:
L = list(str1)

In [11]:
L

['S',
 'a',
 'c',
 'h',
 'i',
 'n',
 ' ',
 'T',
 'e',
 'n',
 'd',
 'u',
 'l',
 'k',
 'a',
 'r']

In [12]:
str(L)

"['S', 'a', 'c', 'h', 'i', 'n', ' ', 'T', 'e', 'n', 'd', 'u', 'l', 'k', 'a', 'r']"

### Find a character inside the string. Return the first index if found else return -1

In [13]:
def find_character(string, ch):
    if len(string) > 0:
        for i in range(len(string)):
            if ch == string[i]:
                return i
    return -1

In [14]:
find_character(str1, 'c')

2

In [15]:
find_character(str1, 'w')

-1

In [16]:
find_character(str1, 'n')

5

In [21]:
def divide_name(name):
    idx = find_character(name, ' ')
    if idx != -1:
        firstname = name[:idx]
        lastname = name[idx+1:]
        return firstname, lastname
    else:
        return name, None

In [25]:
divide_name("Vangipurapu Venkat Sai Laxman")

('Sourav', 'Kumar Ganguly')

In [44]:
def find_character_modifed(string, ch):
    index_list = []
    if len(string) > 0:
        for i in range(len(string)):
            if ch == string[i]:
                index_list.append(i)
    return index_list

In [31]:
find_character_modifed("Sourav Ganguly", 'g')

[10]

In [34]:
my_string = "Vangipurapu Venkat Sai Laxman"

In [35]:
find_character_modifed(my_string, ' ')

[11, 18, 22]

In [36]:
my_string[0:11]

'Vangipurapu'

In [37]:
my_string[12:18]

'Venkat'

In [39]:
my_string[19:22]

'Sai'

In [40]:
my_string[23:]

'Laxman'

In [47]:
def divide_string(string):
    index_list = find_character_modifed(string, ' ')
    if len(index_list) > 0:
        list_of_strings = [string[0:index_list[0]]]
        for i in range(0, len(index_list)-1):
            list_of_strings.append(string[index_list[i]+1:index_list[i+1]])
        list_of_strings.append(string[index_list[-1]+1:])
        return list_of_strings
    return string

In [48]:
divide_string(my_string)

['Vangipurapu', 'Venkat', 'Sai', 'Laxman']

In [54]:
divide_string("asdsad dsapidjd njwenfsdokd skdmsd jdnsjdnj")

['asdsad', 'dsapidjd', 'njwenfsdokd', 'skdmsd', 'jdnsjdnj']

### Pythonic way: Use split() method

In [61]:
my_string = "asdsad;dsapidjd njwenfsdokd;skdmsd;jdnsjdnj iejenjn ksdsdks;jdnjsndnd"

In [65]:
splitted_list = my_string.split(';')

In [67]:
for s in splitted_list:
    print(s.split(' '))

['asdsad']
['dsapidjd', 'njwenfsdokd']
['skdmsd']
['jdnsjdnj', 'iejenjn', 'ksdsdks']
['jdnjsndnd']

### Reverse the string

In [68]:
my_list = [4, 3, 1, 2, 9]

In [69]:
my_list[::-1]

[9, 2, 1, 3, 4]

In [70]:
my_string = "asndjsnd"

In [71]:
my_string[::-1]

'dnsjdnsa'

### Captalize first letter of words in a string

"aman mittal" -> "Aman Mittal"

In [74]:
"aman mittal".capitalize()   # only first element of the string will be capitilized

'Aman mittal'

In [75]:
"aman mittal".title() # capitilize the first element of each word

'Aman Mittal'

In [76]:
"venkat sai laxman".title()

'Venkat Sai Laxman'

### find() method

In [77]:
my_string = "My name is Sachin. I play for India."

In [80]:
my_string.find('e')

6

### count()

In [81]:
my_string.count('n')

3

In [82]:
my_string.count(' ')

7

In [83]:
my_string.count('z')

0

### join() method

In [87]:
' '.join(['Sachin','Tendulkar'])

'Sachin Tendulkar'

In [88]:
my_string = "Sourav Ganguly"

In [89]:
L = list(my_string)

In [90]:
L

['S', 'o', 'u', 'r', 'a', 'v', ' ', 'G', 'a', 'n', 'g', 'u', 'l', 'y']

In [91]:
str(L)

"['S', 'o', 'u', 'r', 'a', 'v', ' ', 'G', 'a', 'n', 'g', 'u', 'l', 'y']"

In [92]:
''.join(L)

'Sourav Ganguly'

In [93]:
list_of_strings = ['abc','def','ghikdsd']

In [94]:
' '.join(list_of_strings)

'abc def ghikdsd'

In [95]:
' '.join(['Venkat','Sai','Laxman'])

'Venkat Sai Laxman'

In [96]:
'-'.join(['Venkat','Sai','Laxman'])

'Venkat-Sai-Laxman'

In [98]:
'; '.join(['Venkat','Sai','Laxman'])

'Venkat; Sai; Laxman'

### lower()

In [99]:
my_string = "My name is Sachin. I play for India."

In [100]:
my_string.count('i')

3

In [101]:
my_string.lower()

'my name is sachin. i play for india.'

In [102]:
my_string.lower().count('i')

5

### upper()

In [104]:
my_string.upper()

'MY NAME IS SACHIN. I PLAY FOR INDIA.'

### index()

In [105]:
my_string.index('i')

8

### strip()

In [112]:
test_string = "  Sachin Tendulkar "

In [113]:
test_string.strip()

'Sachin Tendulkar'

### lstrip()

In [114]:
test_string.lstrip()

'Sachin Tendulkar '

### rstrip()

In [115]:
test_string.rstrip()

'  Sachin Tendulkar'

### String concatenation

In [116]:
str1 = "Delhi"
str2 = "Capital"

In [118]:
str1 + " " + str2

'Delhi Capital'

In [120]:
L = ['sds','dsdsd','hduihwq','atsiac','pwejnd']  # -> 'sds dsdsd hduihwq atsiac pwejnd'

In [121]:
' '.join(L)

'sds dsdsd hduihwq atsiac pwejnd'

In [124]:
concat_list = ''

for x in L:
    concat_list += x
    concat_list += ' '

In [125]:
concat_list

'sds dsdsd hduihwq atsiac pwejnd '