## Input function

In [1]:
a = float(input("Enter a value: "))

Enter a value: 45.56

In [2]:
type(a)

float

In [3]:
print(a)

45.56

## Type conversion

In [4]:
x = 32.567

y = 85

z = 'I love India'

In [5]:
int(x)  # Conversion of float to integer -> The decimal part will be truncated

32

In [6]:
type(y)

int

In [7]:
float(y)

85.0

In [8]:
str(x)

'32.567'

In [9]:
str(y)

'85'

In [12]:
int('54.564')

ValueError: invalid literal for int() with base 10: '54.564'

In [14]:
float('54.564')

54.564

In [15]:
int(float('54.564'))

54

**Rules of type conversion:**

- We can convert from float to int, the decimal part of the float will be truncated
- We can convert from int to float, a decimal point and a zero will be added
- We can convert float / int to string
- We can't convert strings like '34.567' to int, but we can convert it to float
- We can convert strings like '27' to int

### Write a code to take input of two numbers from user and produce there sum

In [16]:
a = float(input("Enter first number: "))

Enter first number: -34.5

In [17]:
b = float(input("Enter second number: "))

Enter second number: 89

In [18]:
c = a+b

In [22]:
print(a,"+", b,"=", c)

-34.5 + 89.0 = 54.5

## Formatted print statement

In [31]:
"My Name is {}".format('Akash')

'My Name is Akash'

In [28]:
"{} + {} = {}".format(a, b, c)

'-34.5 + 89.0 = 54.5'

In [29]:
print("{} + {} = {}".format(a, b, c))

-34.5 + 89.0 = 54.5

In [30]:
print("The sum of {} and {} is {}".format(a, b, c))

The sum of -34.5 and 89.0 is 54.5

In [32]:
print(f"The sum of {a} and {b} is {c}") # f-string

The sum of -34.5 and 89.0 is 54.5

## Take three sides of a trinagle and produce the area of the triangle

$ The~sides~are~denoted~by~a,~b,~c $

$ Semi-perimeter ~~ s = \frac{1}{2}\times(a+b+c) $

$ Area = \sqrt{s(s-a)(s-b)(s-c)}$

In [37]:
a = float(input("Side-1: "))
b = float(input("Side-2: "))
c = float(input("Side-3: "))

Side-1: 10
Side-2: 8
Side-3: 6

In [39]:
s = 0.5*(a+b+c)

$ x^{0.5} = \sqrt x $

In [41]:
area = (s * (s - a) * (s - b) * (s - c))**0.5

In [42]:
print(f"Area of the triangle is: {area}")

Area of the triangle is: 24.0

## String concatenation (addition) and Multiplication

In [43]:
s = "I am Indian"

In [44]:
x = "I love my country"

In [47]:
s + ". " + x

'I am Indian. I love my country'

In [53]:
5 * s

'I am IndianI am IndianI am IndianI am IndianI am Indian'

In [54]:
s + s + s + s + s

'I am IndianI am IndianI am IndianI am IndianI am Indian'

In [55]:
a = int(input("Enter the number: "))

Enter the number: 54

## Boolean type variable

It can take only two values, True or False

In [59]:
b = True

In [60]:
type(b)

bool

In [62]:
c = False

In [63]:
print(c)

False

### OR operation

In [65]:
b or c

True

### AND operation

In [66]:
b and c

False

### NOT operation

In [68]:
not b

False

In [69]:
(not b) or (not c)

True