## List

In [1]:
a = []  # empty list

In [2]:
type(a)

list

In [7]:
a = [1, 2, -34.67, 'c', 'Sharukh Khan', True, 10, 4.5, False]

In [4]:
type(a)

list

### Length of the list

In [5]:
len(a) # returns the length of list 'a'

9

In [6]:
b = []

len(b)

0

### Indexing of list

In [8]:
a[0]

1

In [9]:
a[5]

True

In [10]:
a[8]

False

In [11]:
a[9]

IndexError: list index out of range

#### Negative indexing

In [12]:
a[-1]

False

In [13]:
a[-4]

True

In [14]:
a[-9]

1

In [15]:
a[-10]

IndexError: list index out of range

Retrieve second last element form the list

In [26]:
l = [2, -4, 7, 10, 8, -23, 78, -43]

In [27]:
l[-2]

78

In [28]:
l[len(l)-2]

78

### Slicing

for a list 'L' slicing is done in following way

```L[n1:n2:n3]```

n1: starting index (included) {optional} | default = 0

n2: ending index (excluded) {optional} | default = len(L)

n3: step {optional} | default = 1

**Example-1:**

Suppose ```len(L) = 10```

```L[3:8]``` it will produce a list with values ```L[3], L[4], L[5], L[6], L[7]```

In [31]:
l = [2, -4, 7, 10, 8, -23, 78, -43]

l[1:4]

[-4, 7, 10]

**Example-2:**

Suppose ```len(L) = 10```

```L[1:8:2]``` it will produce a list with values ```L[1], L[3], L[5], L[7] ```

In [32]:
l = [2, -4, 7, 10, 8, -23, 78, -43, 32]

l[1:8:2]

[-4, 10, -23, -43]

**Example-3:**

Suppose ```len(L) = 10```

```L[:6]``` it will produce a list with values ```L[0], L[1], L[2], L[3], L[4], L[5]```

```L[5:]``` it will produce a list with values ```L[5], L[6], L[7], L[8], L[9]```

In [33]:
l[:5]

[2, -4, 7, 10, 8]

In [34]:
l[6:]

[78, -43, 32]

**Example-4:**

```L[::]``` -> produce entire list

```L[:]``` -> produce entire list

In [36]:
l[::]

[2, -4, 7, 10, 8, -23, 78, -43, 32]

**Example-5:**

```L[8:2:-1]``` it will produce a list ```L[8], L[7], L[6], L[5], L[4], L[3]```

In [37]:
l[8:2:-1]

[32, -43, 78, -23, 8, 10]

In [38]:
l[7:1:-2]

[-43, -23, 10]

**Example-6:**

```L[::-1]``` -> will produce list in reverse order

In [39]:
l[::-1]

[32, -43, 78, -23, 8, 10, 7, -4, 2]

In [40]:
for i in range(len(l)-1,-1,-1):
    print(l[i], end=" ")

32 -43 78 -23 8 10 7 -4 2

### Printing the elements of a list

In [41]:
my_list = ['apple', 'banana', 'kiwi', 'coconut', 'grapes']

In [42]:
# method-1: using for loop and indexing

In [44]:
for i in range(len(my_list)):
    print(i+1, " : ", my_list[i])

1  :  apple
2  :  banana
3  :  kiwi
4  :  coconut
5  :  grapes

In [45]:
# method 2: using for loop and iterator

In [48]:
for x in my_list:
    print(x)

apple
banana
kiwi
coconut
grapes

### Priniting elements of the list in reverse order

In [49]:
# method-1:

for i in range(len(my_list)-1,-1,-1):
    print(my_list[i])

grapes
coconut
kiwi
banana
apple

In [50]:
# method-2:

for x in my_list[::-1]:
    print(x)

grapes
coconut
kiwi
banana
apple

### List of Lists

In [51]:
a = [9, 10 ,-12]
b = [True, False, 'c', "Sherlock", -34.56]
c = []
d = [-3.45]

In [52]:
my_list = [a, b, c, d]

In [53]:
my_list

[[9, 10, -12], [True, False, 'c', 'Sherlock', -34.56], [], [-3.45]]

In [54]:
my_list[0]

[9, 10, -12]

In [55]:
my_list[2]

[]

In [59]:
my_list[1][3]

'Sherlock'

### List Methods

#### append()
```
L = [1, 3, 5]

L.append(7)
```
It will produce ```[1, 3, 5, 7]```

In [60]:
l = [32, -43, 78, -23, 8, 10, 7, -4, 2]

In [61]:
l.append(100)

In [62]:
print(l)

[32, -43, 78, -23, 8, 10, 7, -4, 2, 100]

In [63]:
a = []

a.append(56)

print(a)

[56]

In [65]:
l.append(34)

In [66]:
l

[32, -43, 78, -23, 8, 10, 7, -4, 2, 100, 34]

#### extend()

```
a = [1, 3, 5]

b = [8, 10, 12]

```
If I do

```
a.extend(b)

```

then it will produce ```[1, 3, 5, 8, 10, 12]```

In [67]:
a = [1, 3, 5]
b = [8, 10, 12]

a.extend(b)

In [68]:
a

[1, 3, 5, 8, 10, 12]

In [69]:
b

[8, 10, 12]

#### pop()

In [70]:
a = ["one", "two", "three", "four"]

In [71]:
a.pop() # return the last element and will remove that from list

'four'

In [72]:
a

['one', 'two', 'three']

In [73]:
b = ["mango", "banana", "palm", "apple", "orange"]

In [74]:
b.pop(2) # element at index 2 is returned and will be removed from the list

'palm'

In [75]:
b

['mango', 'banana', 'apple', 'orange']

#### insert()

insert(index , value)

In [78]:
x = [4, 2, -9, -10.5, 24, 10, -3, 8.8]

x.insert(4, 33.33)

In [79]:
x

[4, 2, -9, -10.5, 33.33, 24, 10, -3, 8.8]

In [80]:
x.insert(-1, 45)

In [81]:
x

[4, 2, -9, -10.5, 33.33, 24, 10, -3, 45, 8.8]

In [82]:
x.insert(len(x), 8192)

In [83]:
x

[4, 2, -9, -10.5, 33.33, 24, 10, -3, 45, 8.8, 8192]

Sum all the values of the list

In [84]:
s = 0

for i in x:
    s += i
    
print(s)

8296.63

In [86]:
sum(x)   # sum() is a in-built function in python -> whenever you put a list or any iterable it will produce the sum

8296.63

#### sort()

In [87]:
y = [4, -2, 67, -54, 2, 27]

In [88]:
y.sort() # it will arrange the numbers in ascending order

In [89]:
y

[-54, -2, 2, 4, 27, 67]

In [94]:
z = [4, -3, -1, 23, 90, -34]

z.sort(reverse=True) # it will arrange the numbers in descending order

In [95]:
z

[90, 23, 4, -1, -3, -34]

In [96]:
b = ["mango", "banana", "palm", "apple", "orange"]

In [97]:
b.sort()  # it will be ordered alphabatically

In [98]:
b

['apple', 'banana', 'mango', 'orange', 'palm']

In [99]:
c = [True, False, 'c', "Sherlock", -34.56]

c.sort()

c

TypeError: '<' not supported between instances of 'str' and 'bool'

## HW: Write your own code to sort a numeric list (without using the sort method)

### List operations

In [100]:
a = ["mango", "banana"]

b = ["apple", "orange"]

a+b

['mango', 'banana', 'apple', 'orange']

In [104]:
a + [2]

['mango', 'banana', 2]

In [105]:
3 * a  # a + a + a

['mango', 'banana', 'mango', 'banana', 'mango', 'banana']

In [106]:
z = [None]  # it is not an empty list

In [110]:
10*z

[None, None, None, None, None, None, None, None, None, None]

In [111]:
x = [23, 56]

x * 4

[23, 56, 23, 56, 23, 56, 23, 56]