## HW Problem: WAP to sort a list (don't use inbuilt sort method)

In [1]:
my_list = [23, 3, -2, 4, 12]

In [3]:
n = len(my_list)

for i in range(n-1):
    for j in range(n-i-1):
        if my_list[j] > my_list[j+1]:
            temp = my_list[j]
            my_list[j] = my_list[j+1]
            my_list[j+1] = temp

In [4]:
my_list

[-2, 3, 4, 12, 23]

## More aout list

In [11]:
l = [3, -1, 4, 3, 9, 10, 9, 9, 4]

In [14]:
l.index(4)

2

In [12]:
l.count(9)

3

### WAP to print the elements and their counts in the list 

input: ```l = [3, -1, 4, 3, 9, 10, 9, 9, 4]```

output: 

```
3 : 2
-1 : 1
4: 2
9: 3
10: 1

```

In [15]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Tuple

Tuple is another data structure in python similar to list but there are some differences between list and tuple.

List is mutable

but tuple is not mutable

In [18]:
a = 2, 5, 6

In [19]:
type(a)

tuple

In [20]:
a[0]

2

In [21]:
a[1]

5

In [22]:
a[2]

6

In [23]:
a[:1]

(2,)

In [24]:
a = (2, 1, 5, 6, 2, 7)

In [25]:
a[2:]

(5, 6, 2, 7)

In [26]:
a[::]

(2, 1, 5, 6, 2, 7)

In [27]:
a[:5]

(2, 1, 5, 6, 2)

In [28]:
my_list = ['a', 34, -42.6, True]

my_tuple = ('a', 34, -42.6, True)

In [29]:
my_list[0] = 'b'

In [30]:
my_list

['b', 34, -42.6, True]

In [31]:
my_tuple[0] = 'b'

TypeError: 'tuple' object does not support item assignment

## Set

Set is a data structure which contains unique ordered values.

Set are not indexable or sliceable

In [32]:
my_list = [3, -2, 4, 5, 2, 3, 4, -2, 4]

In [33]:
set(my_list)

{-2, 2, 3, 4, 5}

In [37]:
A = {3, 6, 9, 12, 15, 18, 21, 24, 27, 30} # all the values between 1 to 30 which are divisble by 3
B = {5, 10, 15, 20, 25, 30} # all the values between 1 to 30 which are divisible by 5

#### Set Methods

In [38]:
A.intersection(B)

{15, 30}

In [39]:
A.union(B)

{3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30}

In [40]:
A.difference(B)

{3, 6, 9, 12, 18, 21, 24, 27}

In [41]:
B.difference(A)

{5, 10, 20, 25}

In [42]:
A.symmetric_difference(B)

{3, 5, 6, 9, 10, 12, 18, 20, 21, 24, 25, 27}

In [43]:
C = {"apple", "banana", "orange"}

D = {"apple", "banana", "orange", "guava", "pineapple", "coconut"}

In [44]:
D.issubset(C)

False

In [45]:
C.issubset(D)

True

In [47]:
D.issuperset(C)

True

In [48]:
C.issubset(C)

True

In [49]:
C.issuperset(C)

True

In [50]:
C.isdisjoint(B)

True

In [51]:
C.isdisjoint(D)

False

In [53]:
A.isdisjoint(B)

False

In [54]:
A.intersection(C)

set()

```
[] -> Empty list

() -> Empty tuple

set() -> Empty set

{} -> Empty dictionary
```

## Dictionary

It contains key, value pairs

In [55]:
fruits = {'apple': 80, 'banana': 200, 'mango': 100, 'pineapple': 30}

In [56]:
fruits

{'apple': 80, 'banana': 200, 'mango': 100, 'pineapple': 30}

In [57]:
type(fruits)

dict

In [58]:
fruits['apple']

80

In [59]:
fruits['apple'] = 75

In [60]:
fruits

{'apple': 75, 'banana': 200, 'mango': 100, 'pineapple': 30}

In [61]:
d = {1: 'apple', 2: 'banana', 3: 'mango', 4: 'pineapple'}

In [62]:
d[1]

'apple'

In [63]:
d[3]

'mango'

In [64]:
d[8]

KeyError: 8

In [72]:
s = {1: 35, 3.5: 'Sachin', 'Sourav' : 'Dada', 20: 'Kumble'}

In [66]:
s[1]

35

In [70]:
s[20]

'Kumble'

In [73]:
s[3.5]

'Sachin'

In [74]:
print(s)

{1: 35, 3.5: 'Sachin', 'Sourav': 'Dada', 20: 'Kumble'}

#### How to create dictionary

In [88]:
list_of_fruits = ['apple', 'mango', 'banana', 'pineapple', 'orange']

price_per_kilo = [180, 120, 40, 80, 75]

In [89]:
for x in zip(list_of_fruits, price_per_kilo):
    print(x)

('apple', 180)
('mango', 120)
('banana', 40)
('pineapple', 80)
('orange', 75)

In [90]:
fruit_price = dict(zip(list_of_fruits, price_per_kilo))

In [91]:
fruit_price

{'apple': 180, 'mango': 120, 'banana': 40, 'pineapple': 80, 'orange': 75}

In [95]:
city_pincode = [('Delhi', [100000, 500000]), ('Mumbai', 200000), ('Chennai', 400000), ('Kolkata',700000)]

In [96]:
pincode = dict(city_pincode)

In [97]:
pincode

{'Delhi': [100000, 500000],
 'Mumbai': 200000,
 'Chennai': 400000,
 'Kolkata': 700000}

In [98]:
market_1 = {'apple':180, 'mango':120, 'banana': 40}
market_2 = {'mango': 115, 'banana': 45, 'pineapple': 75}
market_3 = {'pineapple': 80, 'apple': 160, 'mango': 130}

In [99]:
market_price = {'market-1':market_1, 'market-2':market_2, 'market-3':market_3}

In [100]:
market_price

{'market-1': {'apple': 180, 'mango': 120, 'banana': 40},
 'market-2': {'mango': 115, 'banana': 45, 'pineapple': 75},
 'market-3': {'pineapple': 80, 'apple': 160, 'mango': 130}}

#### Dictionary Methods

In [75]:
s.clear()

In [76]:
s

{}

In [77]:
fruits

{'apple': 75, 'banana': 200, 'mango': 100, 'pineapple': 30}

In [78]:
fruits['apple']

75

In [80]:
fruits.get('banana')

200

In [81]:
fruits.keys()

dict_keys(['apple', 'banana', 'mango', 'pineapple'])

In [101]:
fruits.items()

dict_items([('apple', 75), ('banana', 200), ('mango', 100), ('pineapple', 30)])

In [102]:
for a,b in fruits.items():
    print(f"price of {a} is Rs.{b}/kg")

price of apple is Rs.75/kg
price of banana is Rs.200/kg
price of mango is Rs.100/kg
price of pineapple is Rs.30/kg

In [103]:
market_price

{'market-1': {'apple': 180, 'mango': 120, 'banana': 40},
 'market-2': {'mango': 115, 'banana': 45, 'pineapple': 75},
 'market-3': {'pineapple': 80, 'apple': 160, 'mango': 130}}

In [104]:
fruits

{'apple': 75, 'banana': 200, 'mango': 100, 'pineapple': 30}

In [105]:
'apple' in fruits

True

In [106]:
'orange' in fruits

False

### find the market where mango is cheapest and also find the cheapest price

In [107]:
cheapest_mango_price = 999999999 # arbitrarily high number 

for m, f in market_price.items():
    if 'mango' in f:
        v = f.get('mango')
        if v < cheapest_mango_price:
            cheapest_mango_price = v
            market = m
            
print(f"Cheapest mango price is : {cheapest_mango_price} and it is available in : {market}")

Cheapest mango price is : 115 and it is available in : market-2

In [108]:
fruits.values()

dict_values([75, 200, 100, 30])

In [110]:
fruits.pop('banana')

200

In [111]:
fruits

{'apple': 75, 'mango': 100, 'pineapple': 30}