In [7]:
import pandas as pd
import random
import numpy as np

In [2]:
data = pd.read_csv("./Churn_Modelling.csv")

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [9]:
data.iloc[[0,1,3],[1,2,5]]

   CustomerId   Surname  Gender
0    15634602  Hargrave  Female
1    15647311      Hill  Female
3    15701354      Boni  Female

In [12]:
def bootstrap(data, row_sampling_ratio=0.8, col_sampling_ratio=0.8, number_of_samples=10):
    no_of_rows, no_of_columns = data.shape
    row_number_in_samples = int(no_of_rows * row_sampling_ratio)
    col_number_in_samples = int(no_of_columns * col_sampling_ratio)
    boot_strapped_samples = []
    for i in range(number_of_samples):
        cols = random.sample(list(np.arange(no_of_columns)), col_number_in_samples)
        rows = random.sample(list(np.arange(no_of_rows)), row_number_in_samples)
        sampled_data = data.iloc[rows, cols]
        boot_strapped_samples.append(sampled_data)
    return boot_strapped_samples

In [13]:
sampled_data = bootstrap(data, row_sampling_ratio=0.7, col_sampling_ratio=0.5, number_of_samples=5)

In [15]:
sampled_data[0].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7000 entries, 3808 to 568
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerId      7000 non-null   int64
 1   NumOfProducts   7000 non-null   int64
 2   Exited          7000 non-null   int64
 3   Balance         7000 non-null   float64
 4   Age             7000 non-null   int64
 5   IsActiveMember  7000 non-null   int64
 6   Surname         7000 non-null   object
dtypes: float64(1), int64(5), object(1)
memory usage: 437.5+ KB

In [16]:
sampled_data[1].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7000 entries, 2351 to 9881
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Surname          7000 non-null   object
 1   EstimatedSalary  7000 non-null   float64
 2   NumOfProducts    7000 non-null   int64
 3   Geography        7000 non-null   object
 4   Gender           7000 non-null   object
 5   Age              7000 non-null   int64
 6   RowNumber        7000 non-null   int64
dtypes: float64(1), int64(3), object(3)
memory usage: 437.5+ KB

In [17]:
sampled_data[2].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7000 entries, 928 to 2602
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Balance         7000 non-null   float64
 1   CustomerId      7000 non-null   int64
 2   IsActiveMember  7000 non-null   int64
 3   NumOfProducts   7000 non-null   int64
 4   Geography       7000 non-null   object
 5   Exited          7000 non-null   int64
 6   RowNumber       7000 non-null   int64
dtypes: float64(1), int64(5), object(1)
memory usage: 437.5+ KB

In [18]:
sampled_data[3].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7000 entries, 940 to 8639
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CreditScore     7000 non-null   int64
 1   Exited          7000 non-null   int64
 2   Surname         7000 non-null   object
 3   RowNumber       7000 non-null   int64
 4   IsActiveMember  7000 non-null   int64
 5   NumOfProducts   7000 non-null   int64
 6   CustomerId      7000 non-null   int64
dtypes: int64(6), object(1)
memory usage: 437.5+ KB

In [19]:
sampled_data[4].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7000 entries, 1759 to 6917
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              7000 non-null   int64
 1   RowNumber        7000 non-null   int64
 2   EstimatedSalary  7000 non-null   float64
 3   CustomerId       7000 non-null   int64
 4   CreditScore      7000 non-null   int64
 5   Geography        7000 non-null   object
 6   NumOfProducts    7000 non-null   int64
dtypes: float64(1), int64(5), object(1)
memory usage: 437.5+ KB